//Margin,Padding
@mixin util($multiple, $start:0, $end:12) {
    @if $multiple == def {
        @for $i from 0 through 12 {
            .u-mt#{$i * 5} { margin-top: 5px * $i!important; }
            .u-mr#{$i * 5} { margin-right: 5px * $i!important; }
            .u-mb#{$i * 5} { margin-bottom: 5px * $i!important; }
            .u-ml#{$i * 5} { margin-left: 5px * $i!important; }
            .u-pt#{$i * 5} { padding-top: 5px * $i!important; }
            .u-pr#{$i * 5} { padding-right: 5px * $i!important; }
            .u-pb#{$i * 5} { padding-bottom: 5px * $i!important; }
            .u-pl#{$i * 5} { padding-left: 5px * $i!important; }
        }
    }
}

@include util(def);

//Margin,Padding -ex
.u-mr100 {
    margin-right: 100px;
}

.u-pr135 {
    padding-right: 135px;
}

.u-padding {
    padding: 60px 0 240px!important;
}
//Floats
.u-clearfix {
    @include clearfix;
}

.u-center-block {
    @include centerBlock;
}

.u-pull-right {
    float: right !important;
}

.u-pull-left {
    float: left !important;
}

//Text-align
.u-text-left {
    text-align: left;
}

.u-text-center {
    text-align: center;
}

.u-text-right {
    text-align: right;
}

.u-text-justify {
    text-align: justify;
}

.u-text-nowrap {
    white-space: nowrap;
}

.u-text-middle {
    font-size: 16px;
}
//background
.u-bg-top {
    background-color: #DDDDDD;
}

//Display
.u-display-none {
    display: none;
}


//img
.header img {
    width: 200px;
}
.u-logo-main {
    width: 100px;
    height: auto;
}
//text
.u-text-red {
    color: #ff0000 !important;
}
//border
.u-border-link {
    border-bottom:5px solid $mainCol;
    transition-duration:0.3s;
    transition-timing-function:ease;
}
//block
.u-center-block {
    display: block !important;
    margin: 0 auto;
}
//text
.u-pre-wrap {
    white-space: pre-wrap;
}
//hr
.u-hr-black {
    border-width: 3px;
    border-top: none;
    border-color: black;
    max-width: 640px;
}