<?php
/*
Template Name: category
*/
if ( in_category('rhyda') ) {
  include(TEMPLATEPATH . '/category-rhyda.php');
?>
<?php get_header(); ?>
    <!-- Header -->
    <% include ./temp/_header %>
    <div class="u-bg-top">
    
    <section class="container u-pt60">
        <h1 class="m-heading-sub">NEW TOPICS</h1>
        <div class="l-row row u-mt30">
            <div class="col m4 s6">
                <section class="card m-card">
                    <a href="#">
                        <div class="m-card-image">
                        <img src="<?php bloginfo( 'template_directory' ); ?>/img/keyvisual01.jpg">
                        </div>
                    </a>
                    <h1 class="m-heading-content">
                        <a href="#">TITLES</a>
                    </h1>
                </section>
            </div>
            <div class="col m4 s6">
                <section class="card m-card">
                    <a href="#">
                        <div class="m-card-image">
                            <img src="<?php bloginfo( 'template_directory' ); ?>/img/ate/ate07.jpg">
                        </div>
                    </a>
                    <h1 class="m-heading-content">
                        <a href="#">TITLES</a>
                    </h1>
                </section>
            </div>
            <div class="col m4 s6">
                <section class="card m-card">
                    <a href="#">
                        <div class="m-card-image">
                            <img src="<?php bloginfo( 'template_directory' ); ?>/img/ate/ate01.png">
                        </div>
                    </a>
                    <h1 class="m-heading-content">
                        <a href="#">TITLES</a>
                    </h1>
                </section>
            </div>
            <div class="col m4 s6">
                <section class="card m-card">
                    <a href="#">
                        <div class="m-card-image">
                            <img src="<?php bloginfo( 'template_directory' ); ?>/img/ate/ate01.png">
                        </div>
                    </a>
                    <h1 class="m-heading-content">
                        <a href="#">TITLES</a>
                    </h1>
                </section>
            </div>
            <div class="col m4 s6">
                <section class="card m-card">
                    <a href="#">
                        <div class="m-card-image">
                            <img src="<?php bloginfo( 'template_directory' ); ?>/img/ate/ate01.png">
                        </div>
                    </a>
                    <h1 class="m-heading-content">
                        <a href="#">TITLES</a>
                    </h1>
                </section>
            </div>
            <div class="col m4 s6">
                <section class="card m-card">
                    <a href="#">
                        <div class="m-card-image">
                            <img src="<?php bloginfo( 'template_directory' ); ?>/img/ate/ate01.png">
                        </div>
                    </a>
                    <h1 class="m-heading-content">
                        <a href="#">TITLES</a>
                    </h1>
                </section>
            </div>
        </div> 
        <hr class="u-hr-black">
        <!-- SNS -->
        <% include ./temp/_listSns %>
    </section>
        <?php get_footer(); ?>
        <script src="<?php bloginfo( 'template_directory' ); ?>/js/index.min.js"></script>
    </body>
</html>
