                <!--フッター-->
                <footer class="footer">
                    <div class="container u-text-center">
                        ©2015 ONEDAY RECS, Inc. All Rights Reserved.
                    </div>
                </footer>
                </div>
                <script src="<?php bloginfo( 'template_directory' ); ?>/js/lib.min.js"></script>
                <script src="<?php bloginfo( 'template_directory' ); ?>/js/plugins.min.js"></script>