<?php
/**
 * The vital template file
 *
 *
 * @link http://onedayrecs.com/
 * 
 * @package WordPress
 * @subpackage vaital-theme
 * @since onedayrecs-theme 1.0
 */

get_header(); ?>

        hellow

        <?php get_footer(); ?>
        <script src="js/index.min.js"></script>
    </body>
</html>
