<?php get_header(); ?>
    <!-- Header -->
    <% include ./temp/_header %>
    <div class="u-bg-top">
    <!-- Slider -->
    <% include ./temp/_slider %>
    <!-- Section01 - INTRO -->
    <% include ./temp/_section01 %>
    <!-- SNS -->
    <% include ./temp/_listSns %>
    
    <section class="container">
        <h1 class="m-heading-sub">NEW TOPICS</h1>
        <div class="l-row row u-mt30">
            <div class="col m4 s6">
                <section class="card m-card">
                    <div class="card-image">
                        <img src="<?php bloginfo( 'template_directory' ); ?>/img/ate/ate01.png">
                    </div>
                    <h1 class="m-heading-content">
                        <a href="#">TITLES</a>
                    </h1>
                </section>
            </div>
            <div class="col m4 s6">
                <section class="card m-card">
                    <div class="card-image">
                        <img src="<?php bloginfo( 'template_directory' ); ?>/img/ate/ate01.png">
                    </div>
                    <h1 class="m-heading-content">
                        <a href="#">TITLES</a>
                    </h1>
                </section>
            </div>
            <div class="col m4 s6">
                <section class="card m-card">
                    <div class="card-image">
                        <img src="<?php bloginfo( 'template_directory' ); ?>/img/ate/ate01.png">
                    </div>
                    <h1 class="m-heading-content">
                        <a href="#">TITLES</a>
                    </h1>
                </section>
            </div>
            <div class="col m4 s6">
                <section class="card m-card">
                    <div class="card-image">
                        <img src="<?php bloginfo( 'template_directory' ); ?>/img/ate/ate01.png">
                    </div>
                    <h1 class="m-heading-content">
                        <a href="#">TITLES</a>
                    </h1>
                </section>
            </div>
            <div class="col m4 s6">
                <section class="card m-card">
                    <div class="card-image">
                        <img src="<?php bloginfo( 'template_directory' ); ?>/img/ate/ate01.png">
                    </div>
                    <h1 class="m-heading-content">
                        <a href="#">TITLES</a>
                    </h1>
                </section>
            </div>
            <div class="col m4 s6">
                <section class="card m-card">
                    <div class="card-image">
                        <img src="<?php bloginfo( 'template_directory' ); ?>/img/ate/ate01.png">
                    </div>
                    <h1 class="m-heading-content">
                        <a href="#">TITLES</a>
                    </h1>
                </section>
            </div>
        </div> 
        <hr class="u-hr-black">
        <!-- SNS -->
        <% include ./temp/_listSns %>
    </section>
        <?php get_footer(); ?>
        <script src="<?php bloginfo( 'template_directory' ); ?>/js/index.min.js"></script>
    </body>
</html>
