<header>
    <div class="u-text-center logo">
        <img src="<?php bloginfo( 'template_directory' ); ?>/img/logo.png" alt="vital logo">
    </div>
    <nav class="m-navbar">
        <div class="nav-wrapper">
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="hide-on-med-and-down">
                <li><a href="#">HOME</a></li>
                <li><a href="#">ARTISTS</a></li>
                <li><a href="#">EVENTS</a></li>
                <li><a href="#">MUSIC</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">SHOP</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="#">HOME</a></li>
                <li><a href="#">ARTISTS</a></li>
                <li><a href="#">EVENTS</a></li>
                <li><a href="#">MUSIC</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">SHOP</a></li>
            </ul>
        </div>
    </nav>
</header>