<header>
    <div class="u-text-center logo">
        <a href="<?php home_url(); ?>"><img src="<?php bloginfo( 'template_directory' ); ?>/img/logo.png" alt="vital logo"></a>
    </div>
    <nav>
        <div class="nav-wrapper">
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="m-navbar hide-on-med-and-down">
                <li><a href="./">HOME</a></li>
                <li><a href="/artists/">ARTISTS</a></li>
                <li><a href="/events/">EVENTS</a></li>
                <li><a href="/music/">MUSIC</a></li>
                <li><a href="/blog/">BLOG</a></li>
                <li><a href="#">SHOP</a></li>
            </ul>
            <ul class="side-nav m-sidenav" id="mobile-demo">
                <li><a href="./">HOME</a></li>
                <li><a href="/artists/">ARTISTS</a></li>
                <li><a href="/events/">EVENTS</a></li>
                <li><a href="/music/">MUSIC</a></li>
                <li><a href="/blog/">BLOG</a></li>
                <li><a href="#">SHOP</a></li>
            </ul>
        </div>
    </nav>
</header>