<div class="u-text-center">
    <ul class="m-listSns">
        <li><a href="#"><i class="icon-instagram"></a></i></li>
        <li><a href="#"><i class="icon-facebook"></a></i></li>
        <li><a href="#"><i class="icon-twitter"></a></i></li>
        <li><a href="#"><i class="icon-pinterest"></a></i></li>
        <li><a href="#"><i class="icon-tumblr"></a></i></li>
        <li><a href="#"><i class="icon-vimeo"></a></i></li>
    </ul>
</div>