<section class="l-section">
    <h1 class="m-heading-main">VITAL<br>RECORDINGS</h1>
    <img class="u-logo-main" src="<?php bloginfo( 'template_directory' ); ?>/img/logo.png" alt="vital logo only">
    <div class="row container">
        <div class="col m10 offset-m1 u-text-left u-text-middle">
            <p>
                都内を中心に深夜の地下街を賑わせているサウンドフリーク集団「VITAL」。そのVITALの唯 一MCであり数多くのMCでも異彩を放つ強烈なライブパフォーマンスでプロップスを拡大し続 けているMCのRHYDAが、待望のファーストアルバムをドロップ!!
                都内を中心に深夜の地下街を賑わせているサウンドフリーク集団「VITAL」。そのVITALの唯 一MCであり数多くのMCでも異彩を放つ強烈なライブパフォーマンスでプロップスを拡大し続 けているMCのRHYDAが、待望のファーストアルバムをドロップ!!ば都内を中心に深夜の地下街を賑わせているサウンドフリーク集団「VITAL」。そのVITALの唯 一MCであり数多くのMCでも異彩を放つ強烈なライブパフォーマンスでプロップスを拡大し続 けているMCのRHYDAが、待望のファーストアルバムをドロップ!!
            </p>
            <p>
                都内を中心に深夜の地下街を賑わせているサウンドフリーク集団「VITAL」。そのVITALの唯 一MCであり数多くのMCでも異彩を放つ強烈なライブパフォーマンスでプロップスを拡大し続 けているMCのRHYDAが、待望のファーストアルバムをドロップ!!
            </p>
        </div>
    </div>
</section>