<section>
    <ul class="fn-bxslider m-slider">
        <li>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/XNNgwiShkSE" frameborder="0" allowfullscreen></iframe>
        </li>
        <li>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/36mqKeGkDoQ" frameborder="0" allowfullscreen></iframe>
        </li>
        <li>
            <img src="<?php bloginfo( 'template_directory' ); ?>/img/maxresdefault.jpg">
        </li>
        <li>
            <img src="<?php bloginfo( 'template_directory' ); ?>/img/vital-t.jpg">
        </li>
    </ul>
</section>