header {
    background: $blackCol;
    padding-top: 10px;
    margin-bottom: 5px;

    .logo img {
        width: 100px;

        @media(max-width: $responsiveWidth) {
            width: 60px;
        }
    }
}